# Bytecode Python
__pycache__/
*.pyc

# Database temporanei
*.db

# Log e file temporanei
*.log

# File di sistema/macOS
.DS_Store

# Ambiente virtuale
venv/
.env

# File di output o risultati generati
*.txt
!requirements.txt
*.csv
*.xls
*.xlsx

# Backup o file temporanei
*~
*.bak
